<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<title>Application</title>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.js"></script>
		
	</head>

	<body>
		<div>
			<h2> Hello, {{ name }}. Please Capture your Image</h2>
		</div>
		
		<div id="camera"></div>

		<div>
			<button 
				class="btn btn-outline btn-success"
				onclick="capture(); window.location.href = '/dashboard';">
					Capture Image
				</button>
		</div>
		
		<script>
			Webcam.set({
				width: 550,
				height: 450,
				image_format: 'jpeg',
				jpeg_quality: 100
			});

			Webcam.attach('#camera');

			capture = function () {
				Webcam.snap(function (data_uri) {
					console.log(data_uri)
					localStorage.setItem("id", data_uri)
					// downloadImage('person', data_uri);
					var data = {
						"uri":data_uri
					}
					fetch(`${window.origin}/application/data`,{
						method: 'POST',
						body: JSON.stringify(data),
						headers: new Headers({
							"content-type": "application/json"
						})
					})
				})
			}
			// downloadImage = function (name, datauri) {
			//     var a = document.createElement('a');
			//     a.setAttribute('download', name + '.png');
			//     a.setAttribute('href', datauri);
			//     a.click();
			// }
		</script>
		
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>

	<style>
		#camera{
			display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;
			margin-left: 32%;
			margin-right: 30%;
			height: 30%;
			width: 40%;
			/* border: 5px rgb(0, 0, 0) solid; */
		}
		
		div {
			display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;
			margin-top: 3%;
		}
	</style>
</html>