<!DOCTYPE html>
<html lang="en">
    ​  
    <head>  
       <title>My Web Page</title>  
       <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>  
       <script>  
           $(window).on('load', function () {  
               $(".container").fadeOut("slow");  
          });  
       </script>  
    </head>  
    ​  
    <body style="background-color: black;">  
       <div class="container">  
           <img src="loading.gif" alt="">  
       </div>  
       <H1 style="color:white;text-align: center;padding: 300px;">My Website</H1>  
    </body>  
    ​  
    </html> 